USE [master]
GO
/****** Object:  Database [SistemaVentas]    Script Date: 8/09/2025 11:48:58 a. m. ******/
CREATE DATABASE [SistemaVentas]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'SistemaVentas', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\SistemaVentas.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'SistemaVentas_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\SistemaVentas_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [SistemaVentas].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [SistemaVentas]
GO
/****** Object:  Table [dbo].[Categorias]    Script Date: 8/09/2025 11:48:59 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Categorias](
	[id_categoria] [int] IDENTITY(1,1) NOT NULL,
	[nombre] [nvarchar](100) NULL,
PRIMARY KEY CLUSTERED 
(
	[id_categoria] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Clientes]    Script Date: 8/09/2025 11:48:59 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Clientes](
	[id_cliente] [int] IDENTITY(1,1) NOT NULL,
	[nombre] [nvarchar](100) NULL,
	[email] [nvarchar](100) NULL,
	[telefono] [nvarchar](20) NULL,
PRIMARY KEY CLUSTERED 
(
	[id_cliente] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DetalleVentas]    Script Date: 8/09/2025 11:48:59 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DetalleVentas](
	[id_detalle] [int] IDENTITY(1,1) NOT NULL,
	[id_venta] [int] NULL,
	[id_producto] [int] NULL,
	[cantidad] [int] NULL,
	[precio] [decimal](10, 2) NULL,
PRIMARY KEY CLUSTERED 
(
	[id_detalle] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Empleados]    Script Date: 8/09/2025 11:48:59 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Empleados](
	[id_empleado] [int] IDENTITY(1,1) NOT NULL,
	[nombre] [nvarchar](100) NULL,
	[cargo] [nvarchar](50) NULL,
	[salario] [decimal](10, 2) NULL,
PRIMARY KEY CLUSTERED 
(
	[id_empleado] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Inventario]    Script Date: 8/09/2025 11:48:59 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Inventario](
	[id_inventario] [int] IDENTITY(1,1) NOT NULL,
	[id_producto] [int] NULL,
	[cantidad] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[id_inventario] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Productos]    Script Date: 8/09/2025 11:48:59 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Productos](
	[id_producto] [int] IDENTITY(1,1) NOT NULL,
	[nombre] [nvarchar](100) NULL,
	[precio] [decimal](10, 2) NULL,
	[id_categoria] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[id_producto] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Proveedores]    Script Date: 8/09/2025 11:48:59 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Proveedores](
	[id_proveedor] [int] IDENTITY(1,1) NOT NULL,
	[nombre] [nvarchar](100) NULL,
	[telefono] [nvarchar](20) NULL,
PRIMARY KEY CLUSTERED 
(
	[id_proveedor] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Ventas]    Script Date: 8/09/2025 11:48:59 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Ventas](
	[id_venta] [int] IDENTITY(1,1) NOT NULL,
	[id_cliente] [int] NULL,
	[fecha] [date] NULL,
	[total] [decimal](10, 2) NULL,
PRIMARY KEY CLUSTERED 
(
	[id_venta] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[DetalleVentas]  WITH CHECK ADD FOREIGN KEY([id_producto])
REFERENCES [dbo].[Productos] ([id_producto])
GO
ALTER TABLE [dbo].[DetalleVentas]  WITH CHECK ADD FOREIGN KEY([id_venta])
REFERENCES [dbo].[Ventas] ([id_venta])
GO
ALTER TABLE [dbo].[Inventario]  WITH CHECK ADD FOREIGN KEY([id_producto])
REFERENCES [dbo].[Productos] ([id_producto])
GO
ALTER TABLE [dbo].[Productos]  WITH CHECK ADD FOREIGN KEY([id_categoria])
REFERENCES [dbo].[Categorias] ([id_categoria])
GO
ALTER TABLE [dbo].[Ventas]  WITH CHECK ADD FOREIGN KEY([id_cliente])
REFERENCES [dbo].[Clientes] ([id_cliente])
GO
/****** Object:  StoredProcedure [dbo].[ActualizarCategoria]    Script Date: 8/09/2025 11:48:59 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE   PROCEDURE [dbo].[ActualizarCategoria]
    @id_categoria INT, @nombre NVARCHAR(100)
AS
BEGIN
    UPDATE Categorias SET nombre=@nombre WHERE id_categoria=@id_categoria;
END
GO
/****** Object:  StoredProcedure [dbo].[ActualizarCliente]    Script Date: 8/09/2025 11:48:59 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE   PROCEDURE [dbo].[ActualizarCliente]
    @id_cliente INT, @nombre NVARCHAR(100), @email NVARCHAR(100), @telefono NVARCHAR(20)
AS
BEGIN
    UPDATE Clientes SET nombre=@nombre, email=@email, telefono=@telefono WHERE id_cliente=@id_cliente;
END
GO
/****** Object:  StoredProcedure [dbo].[ActualizarDetalleVenta]    Script Date: 8/09/2025 11:48:59 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE   PROCEDURE [dbo].[ActualizarDetalleVenta]
    @id_detalle INT, @id_venta INT, @id_producto INT, @cantidad INT, @precio DECIMAL(10,2)
AS
BEGIN
    UPDATE DetalleVentas SET id_venta=@id_venta, id_producto=@id_producto, cantidad=@cantidad, precio=@precio WHERE id_detalle=@id_detalle;
END
GO
/****** Object:  StoredProcedure [dbo].[ActualizarEmpleado]    Script Date: 8/09/2025 11:48:59 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE   PROCEDURE [dbo].[ActualizarEmpleado]
    @id_empleado INT, @nombre NVARCHAR(100), @cargo NVARCHAR(50), @salario DECIMAL(10,2)
AS
BEGIN
    UPDATE Empleados SET nombre=@nombre, cargo=@cargo, salario=@salario WHERE id_empleado=@id_empleado;
END
GO
/****** Object:  StoredProcedure [dbo].[ActualizarInventario]    Script Date: 8/09/2025 11:48:59 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE   PROCEDURE [dbo].[ActualizarInventario]
    @id_inventario INT, @id_producto INT, @cantidad INT
AS
BEGIN
    UPDATE Inventario SET id_producto=@id_producto, cantidad=@cantidad WHERE id_inventario=@id_inventario;
END
GO
/****** Object:  StoredProcedure [dbo].[ActualizarProducto]    Script Date: 8/09/2025 11:48:59 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE   PROCEDURE [dbo].[ActualizarProducto]
    @id_producto INT, @nombre NVARCHAR(100), @precio DECIMAL(10,2), @id_categoria INT
AS
BEGIN
    UPDATE Productos SET nombre=@nombre, precio=@precio, id_categoria=@id_categoria WHERE id_producto=@id_producto;
END
GO
/****** Object:  StoredProcedure [dbo].[ActualizarProveedor]    Script Date: 8/09/2025 11:48:59 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE   PROCEDURE [dbo].[ActualizarProveedor]
    @id_proveedor INT, @nombre NVARCHAR(100), @telefono NVARCHAR(20)
AS
BEGIN
    UPDATE Proveedores SET nombre=@nombre, telefono=@telefono WHERE id_proveedor=@id_proveedor;
END
GO
/****** Object:  StoredProcedure [dbo].[ActualizarVenta]    Script Date: 8/09/2025 11:48:59 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE   PROCEDURE [dbo].[ActualizarVenta]
    @id_venta INT, @id_cliente INT, @fecha DATE, @total DECIMAL(10,2)
AS
BEGIN
    UPDATE Ventas SET id_cliente=@id_cliente, fecha=@fecha, total=@total WHERE id_venta=@id_venta;
END
GO
/****** Object:  StoredProcedure [dbo].[ConsultarCategorias]    Script Date: 8/09/2025 11:48:59 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE   PROCEDURE [dbo].[ConsultarCategorias]
AS
BEGIN
    SELECT * FROM Categorias;
END
GO
/****** Object:  StoredProcedure [dbo].[ConsultarClientes]    Script Date: 8/09/2025 11:48:59 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE   PROCEDURE [dbo].[ConsultarClientes]
AS
BEGIN
    SELECT * FROM Clientes;
END
GO
/****** Object:  StoredProcedure [dbo].[ConsultarDetalleVentas]    Script Date: 8/09/2025 11:48:59 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE   PROCEDURE [dbo].[ConsultarDetalleVentas]
AS
BEGIN
    SELECT * FROM DetalleVentas;
END
GO
/****** Object:  StoredProcedure [dbo].[ConsultarEmpleados]    Script Date: 8/09/2025 11:48:59 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE   PROCEDURE [dbo].[ConsultarEmpleados]
AS
BEGIN
    SELECT * FROM Empleados;
END
GO
/****** Object:  StoredProcedure [dbo].[ConsultarInventario]    Script Date: 8/09/2025 11:48:59 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE   PROCEDURE [dbo].[ConsultarInventario]
AS
BEGIN
    SELECT * FROM Inventario;
END
GO
/****** Object:  StoredProcedure [dbo].[ConsultarProductos]    Script Date: 8/09/2025 11:48:59 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE   PROCEDURE [dbo].[ConsultarProductos]
AS
BEGIN
    SELECT * FROM Productos;
END
GO
/****** Object:  StoredProcedure [dbo].[ConsultarProveedores]    Script Date: 8/09/2025 11:48:59 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE   PROCEDURE [dbo].[ConsultarProveedores]
AS
BEGIN
    SELECT * FROM Proveedores;
END
GO
/****** Object:  StoredProcedure [dbo].[ConsultarVentas]    Script Date: 8/09/2025 11:48:59 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE   PROCEDURE [dbo].[ConsultarVentas]
AS
BEGIN
    SELECT * FROM Ventas;
END
GO
/****** Object:  StoredProcedure [dbo].[EliminarCategoria]    Script Date: 8/09/2025 11:48:59 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE   PROCEDURE [dbo].[EliminarCategoria]
    @id_categoria INT
AS
BEGIN
    DELETE FROM Categorias WHERE id_categoria=@id_categoria;
END
GO
/****** Object:  StoredProcedure [dbo].[EliminarCliente]    Script Date: 8/09/2025 11:48:59 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE   PROCEDURE [dbo].[EliminarCliente]
    @id_cliente INT
AS
BEGIN
    DELETE FROM Clientes WHERE id_cliente=@id_cliente;
END
GO
/****** Object:  StoredProcedure [dbo].[EliminarDetalleVenta]    Script Date: 8/09/2025 11:48:59 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE   PROCEDURE [dbo].[EliminarDetalleVenta]
    @id_detalle INT
AS
BEGIN
    DELETE FROM DetalleVentas WHERE id_detalle=@id_detalle;
END
GO
/****** Object:  StoredProcedure [dbo].[EliminarEmpleado]    Script Date: 8/09/2025 11:48:59 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE   PROCEDURE [dbo].[EliminarEmpleado]
    @id_empleado INT
AS
BEGIN
    DELETE FROM Empleados WHERE id_empleado=@id_empleado;
END
GO
/****** Object:  StoredProcedure [dbo].[EliminarInventario]    Script Date: 8/09/2025 11:48:59 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE   PROCEDURE [dbo].[EliminarInventario]
    @id_inventario INT
AS
BEGIN
    DELETE FROM Inventario WHERE id_inventario=@id_inventario;
END
GO
/****** Object:  StoredProcedure [dbo].[EliminarProducto]    Script Date: 8/09/2025 11:48:59 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE   PROCEDURE [dbo].[EliminarProducto]
    @id_producto INT
AS
BEGIN
    DELETE FROM Productos WHERE id_producto=@id_producto;
END
GO
/****** Object:  StoredProcedure [dbo].[EliminarProveedor]    Script Date: 8/09/2025 11:48:59 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE   PROCEDURE [dbo].[EliminarProveedor]
    @id_proveedor INT
AS
BEGIN
    DELETE FROM Proveedores WHERE id_proveedor=@id_proveedor;
END
GO
/****** Object:  StoredProcedure [dbo].[EliminarVenta]    Script Date: 8/09/2025 11:48:59 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE   PROCEDURE [dbo].[EliminarVenta]
    @id_venta INT
AS
BEGIN
    DELETE FROM Ventas WHERE id_venta=@id_venta;
END
GO
/****** Object:  StoredProcedure [dbo].[InsertarCategoria]    Script Date: 8/09/2025 11:48:59 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [dbo].[InsertarCategoria]
    @nombre NVARCHAR(100)
AS
BEGIN
    INSERT INTO Categorias(nombre) VALUES (@nombre);
END
GO
/****** Object:  StoredProcedure [dbo].[InsertarCliente]    Script Date: 8/09/2025 11:48:59 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [dbo].[InsertarCliente]
    @nombre NVARCHAR(100), @email NVARCHAR(100), @telefono NVARCHAR(20)
AS
BEGIN
    INSERT INTO Clientes(nombre, email, telefono) VALUES (@nombre, @email, @telefono);
END
GO
/****** Object:  StoredProcedure [dbo].[InsertarDetalleVenta]    Script Date: 8/09/2025 11:48:59 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [dbo].[InsertarDetalleVenta]
    @id_venta INT, @id_producto INT, @cantidad INT, @precio DECIMAL(10,2)
AS
BEGIN
    INSERT INTO DetalleVentas(id_venta, id_producto, cantidad, precio) VALUES (@id_venta, @id_producto, @cantidad, @precio);
END
GO
/****** Object:  StoredProcedure [dbo].[InsertarEmpleado]    Script Date: 8/09/2025 11:48:59 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [dbo].[InsertarEmpleado]
    @nombre NVARCHAR(100), @cargo NVARCHAR(50), @salario DECIMAL(10,2)
AS
BEGIN
    INSERT INTO Empleados(nombre, cargo, salario) VALUES (@nombre, @cargo, @salario);
END
GO
/****** Object:  StoredProcedure [dbo].[InsertarInventario]    Script Date: 8/09/2025 11:48:59 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [dbo].[InsertarInventario]
    @id_producto INT, @cantidad INT
AS
BEGIN
    INSERT INTO Inventario(id_producto, cantidad) VALUES (@id_producto, @cantidad);
END
GO
/****** Object:  StoredProcedure [dbo].[InsertarProducto]    Script Date: 8/09/2025 11:48:59 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [dbo].[InsertarProducto]
    @nombre NVARCHAR(100), @precio DECIMAL(10,2), @id_categoria INT
AS
BEGIN
    INSERT INTO Productos(nombre, precio, id_categoria) VALUES (@nombre, @precio, @id_categoria);
END
GO
/****** Object:  StoredProcedure [dbo].[InsertarProveedor]    Script Date: 8/09/2025 11:48:59 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [dbo].[InsertarProveedor]
    @nombre NVARCHAR(100), @telefono NVARCHAR(20)
AS
BEGIN
    INSERT INTO Proveedores(nombre, telefono) VALUES (@nombre, @telefono);
END
GO
/****** Object:  StoredProcedure [dbo].[InsertarVenta]    Script Date: 8/09/2025 11:48:59 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [dbo].[InsertarVenta]
    @id_cliente INT, @fecha DATE, @total DECIMAL(10,2)
AS
BEGIN
    INSERT INTO Ventas(id_cliente, fecha, total) VALUES (@id_cliente, @fecha, @total);
END
GO
USE [master]
GO
